*{ /*  Universal : Selects all elements */
     font-family: "Open Sans", Arial, sans-serif;
}
.section_1 {
    padding: 100px;
    background-color: rgba(181, 127, 232, 0.539);
}
.section_1 .sign_up{
    width: fit-content;
    margin: auto;
    background-color: rgba(137, 43, 226, 0.573);
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 20px;
    color: white;
    font-weight: 800;
    border-radius: 18px;
}
.section_1 .sign_up h1{
   text-align: center;
   
}
.section_1 .sign_up input[type='text']{
    border-radius: 5px;
    width: 150px;
    border: none;
    outline: none;
    margin: 0 0 12px 12px;
    height: 30px;

}
.section_1 .sign_up input[type='text']:nth-child(2){ /* Pseudo-element : selector that targets the second child element of its parent. */
  margin-left: 10px;
}
.section_1 .sign_up input[type='email'],
.section_1 .sign_up input[type='password']{
    display: block;
    border: none;
    outline: none;
    border-radius: 5px;
    width:320px;
    height: 35px;
     margin:  auto;
}
.section_1 .sign_up input[type='submit']{
    display: block;
    margin: auto;
    width: 280px;
    height:38px;
    background-color: #777;
    border: none;
    outline: none;
    border-radius: 15px;
    margin: auto;
    color: white;
    font-size: 18px;
    cursor: pointer;

}
.section_1 .sign_up p,
.section_1 .sign_up label{
     display: block;
    text-align: center;
}
.section_1 .sign_up label {
    font-size: 14px;
}
.section_1 a{
    color: white;
}

/* finsded section_1 */


.section_2{
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: linear-gradient(to left ,rgba(238, 1, 255, 0.654) ,rgb(143, 0, 186));
}

.section_2 .content{
    display: flex;
    width: 600px;
    justify-content: center;
       align-items: center;
    background-color:white ;
    border-radius: 18px;
    padding: 18px;
    margin: auto;
}
.section_2 .content .image{
   width: 200px;
   height: 200px;
   border-radius: 50%;
   background-color: #eeeeee;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 60px;
}
.section_2 .content .image img{
   width: 70%;

}
.form h1 {
text-align: center;
}
.section_2   input[type='email'],
.section_2  input[type='password']{
    display: block;
    border: none;
    outline: none;
    border-radius: 25px;
    width:230px;
    height: 35px;
     margin: -8px auto;
     background-color: #eeeeee;
     padding-left:40px ;
}
.section_2 input[type='submit']{ /* Attribute : Selects elements based on attributes*/
    display: block;
    margin: auto;
    width: 280px;
    height:38px;
    background-color: rgba(1, 138, 1, 0.805);
    border: none;
    outline: none;
    border-radius: 25px;
    margin: 15px auto;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.section_2 p{
    text-align: center;
    color: rgba(1, 138, 1, 0.805);
}
.section_2 p span{
    text-align: center;
    color: black;
}
.section_2 p a{
    text-decoration: none;
    color: rgba(1, 138, 1, 0.805);
}
i{
    position: relative;
    top: 20px;
    left: 20px;
}
